RewriteEngine On

# Redirect URLs ending with .html to the version without .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# Internally rewrite extensionless URLs to their .html counterparts if the .html file exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+)$ $1.html [L]

# Custom rule: If user goes to /projects, serve projects.html
RewriteRule ^projects$ projects.html [L]

# Custom 404 error page
ErrorDocument 404 /404.html